/*div.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

div.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

div.parallax__layer--base {
  transform: translateZ(0);
}

div.parallax__layer--back {
  transform: translateZ(-1px);
}*/

html {
  background-image: url(background.jpg);
  background-attachment: fixed;
}

header {
  background-color: white;
}

header img {
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

nav li a {
  display: block;
  background-color: lightgreen;
  float: left;
  padding: 1%;
  text-align: center;
  width: 25%;
  font-size: 1.5vw;
}

nav li a:visited, li a:link {
  text-decoration: none;
  color: black;
}

nav :hover {
  background-color: green;
}

footer {
  text-align: center;
  background-color: lightgreen;
  padding: 1%;
  margin-top: 3%;
}
