/*base css*/
*{
  outline: red solid 2px;
}
nav li a {
  display: block;
  background-color: lightgreen;
  float: left;
  padding: 1%;
  text-align: center;
  width: 25%;
  font-size: 1.5vw;
}

nav li a:visited, li a:link {
  text-decoration: none;
  color: black;
}

nav :hover {
  background-color: green;
}

/*styles*/
h1{
  padding-top: 5%;
  font-size: 4vw;
  text-align: center;
}

h2{
  font-size: 25px;
}

div{
  padding: 5px;
  color: white;
  text-shadow: black 1px 1px 2px, black -1px -1px 2px, black -1px 1px 2px, black 1px -1px 2px;
}

li#rec{
  padding: 3px;
  padding-left: 20px;
}

#a1{
  float: left;
  clear: left;
  border: 50%;
}

#a2{
  flex: 1 1 80px;
}

table{
  padding-top: 15px;
  width: 50%;
  color: white;
  margin: auto;
}

td{
  text-align: center;
  text-shadow: black 1px 1px 2px,
  black -1px -1px 2px,
  black -1px 1px 2px,
  black 1px -1px 2px;
  padding: 5px;
}

th{
  font-size: 18pt;
  color: #2bc62e;
  text-shadow: black 1px 1px 1px,
  black -1px -1px 1px,
  black -1px 1px 1px,
  black 1px -1px 1px;
}
