nav li a {
  display: block;
  background-color: lightgreen;
  float: left;
  padding: 1%;
  text-align: center;
  width: 25%;
  font-size: 1.5vw;
}

nav li a:visited, li a:link {
  text-decoration: none;
  color: black;
}

nav :hover {
  background-color: green;
}

img.r1{
  width: 50%;
  padding: 10px;
  display: block;
  margin: auto;
}

p{
  display: block;
  width: 75%;
  margin: auto;
  color: white;
  text-shadow: black 1px 1px 1px,
  black -1px -1px 1px,
  black -1px 1px 1px,
  black 1px -1px 1px;
  line-height: 100%;
  font-size: 20pt;
  background-color: lightgreen;
  border-style: double;
  margin-top: 60px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 15px;
  border-style: double;
  border-color: green;
  border-width: thick;
}
